<h1>Edit User</h1>
<%= form_for(@user) do |f| %>
	<%= f.label :username %>
	<%= f.text_field :username %><br />
	<%= f.label :password %>
	<%= f.password_field :password %><br >
	<%= f.label :bio %>
	<%= f.text_field :bio %><br />
	<%= f.submit :update %>
<% end %>