<div id="index_centerbox">
	<div id="index_about">
		<h3>Welcome to Law Breaking Citizen!</h3>
		<p>Are you a jay walker?</p>
		<p>Stealing some wifi?</p>
		<br>
		<p>Impress your fellow felons and become notorious</p>
		<p>Who knows? You may become the teflon don of your block!</p>
		<p>-- Come join our community of rebels and share your unlawful story! --</p>
	</div>
	<div id="signin_signup"><h2> Log in </h2><br> 
	<%= form_tag('sessions', method: 'post') do %>
	<%= label_tag(:username, "Username:") %>
	<%= text_field_tag :username %><br />
	<%= label_tag(:password, "Password:") %>
	<%= password_field_tag :password %><br />
	<%= submit_tag "Login" %> <br> 


	Sign Up

	<h1>New User</h1>
	<%= form_for(@user) do |f| %>
	<%= f.label :username %>
	<%= f.text_field :username %><br />
	<%= f.label :password %>
	<%= f.password_field :password %><br >
	<%= f.label :bio %>
	<%= f.text_area :bio %><br />
	<%= f.submit :create %>
<% end %>

	
<% end %>



	<%= yield %>
	
		
	</div>
	
</div>