<<<<<<< HEAD
<div id="profile_main">
	<h1>LBC REPORT</h1>
	<div id="profile_userinfo">
		<div id="profile_user">
			<h4>username:</h4>
			<h4>notoriety:</h4>
			<h4>last violation:</h4>
		</div>
		<div id="profile_userbio">
			<h4 align="center">criminal profile</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque nobis alias quis quibusdam laborum placeat corporis beatae reiciendis, possimus illum,  consectetur impedit ipsa. Iste.</p>
		</div>
	</div>
	<div id="profile_history">
		<h4>Detail of Events</h4>
		<ul>
			<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore maxime ipsum illum asperiores.</li>
			<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore maxime ipsum illum asperiores.</li>
			<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore maxime ipsum illum asperiores.</li>
			<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore maxime ipsum illum asperiores.</li>
			<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore maxime ipsum illum asperiores.</li>
			<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore maxime ipsum illum asperiores.</li>
			<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore maxime ipsum illum asperiores.</li>
			<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore maxime ipsum illum asperiores.</li>
		</ul>
	</div>
</div>	

=======
<h1>User</h1>
<h3><%= @user.username %></h3>
<ul>
	
	<li>bio: <%= @user.bio %></li>
</ul>

<h3><%= "#{@user.username}'s Crimes" %></h3>
<ul>
	<% @user.posts.each do |post| %>
		<li><%= post.body %> (<%= link_to "X", post_path(post), method: "delete" %>)</li>
	<% end %>
</ul>

<p><%= link_to "New Crime!", new_post_path %></p>
>>>>>>> 733df2d66303853c5949c3c25f7d519640f91cb9
