<div id="postfeed_maincontainer">
	<div id="postfeed">
		<ul>
			<li><%= Time.now %> | Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
			<li><%= Time.now %> | Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
			<li><%= Time.now %> | Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
			<li><%= Time.now %> | Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
			<li><%= Time.now %> | Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
			<li><%= Time.now %> | Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
			<li><%= Time.now %> | Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
			<li><%= Time.now %> | Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
			<li><%= Time.now %> | Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
			<li><%= Time.now %> | Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
			<li><%= Time.now %> | Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
			<li><%= Time.now %> | Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
			<li><%= Time.now %> | Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
			<li><%= Time.now %> | Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
			<li><%= Time.now %> | Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
			<li><%= Time.now %> | Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
			<li><%= Time.now %> | Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
			<li><%= Time.now %> | Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
			<li><%= Time.now %> | Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
			<li><%= Time.now %> | Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
			<li><%= Time.now %> | Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
			<li><%= Time.now %> | Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>z
		</ul>
	</div>
	<div id="postfeed_rightcontainer">
		<div id="postfeed_options">
			<h5>Most recent</h5>
			<h5>Most notorious</h5>
			<h5>Categories</h5>
		</div>
		<div id="notoriety">
			<h2>Notoriety</h2>
			<div>current status</div>
			<h4>loiterer</h4>
			<h4>jay walker</h4>
			<h4>white walker</h4>
			<h4><em>wifi bandit</em></h4>
			<h4>litter king</h4>
			<h4>shot caller</h4>
			<h4>teflon don</h4>
		</div>
		<div id="post_textbox">
			TEXT BOX
		</div>
	</div>	
</div>
